.add-btn {
  width: 40px;
  height: 40px;
  border: 1px dashed;
  border-color: #4285f4;
  font-size: xx-large;
  color: #4285f4;
  background-color: #fff;
}

.label {
  font-weight: 400;
}

/* Radio Button */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: -4px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #90c0e5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Delete Button */
.delete-button {
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.action-container {
  display: flex;
  gap: 4px;
  align-items: self-end;
}

.action-panel {
  width: 180px;
  height: 32px;
  display: flex;
  gap: 1rem;
  background-color: #e1e1e1;
  padding: 4px;
  border-radius: 2px;
  align-items: center;
}

@media (max-width: 600px) {
  .label {
    display: none;
  }

  .action-panel {
    width: 90px;
  }
}