.template-header {
  display: flex;
  justify-content: space-between;
}

.supportive-btns {
  display: flex;
  padding: inherit;
  flex-direction: row-reverse;
  gap: 4px;
}

.add-btn {
  width: 40px;
  height: 40px;
  border: 1px dashed;
  border-color: #4285f4;
  font-size: xx-large;
  color: #4285f4;
}

.attachment {
  font-size: 1.2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  width: 80px;
  height: 40px;
  border: 1px solid;
  border-color: #4285f4;
  background-color: #4285f4;
  color: white;
}

.secondary-btn {
  width: 80px;
  height: 40px;
  border: 1px solid;
  border-color: #4285f4;
  background-color: white;
  color: #4285f4;
}

.content {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

/** NODE TREE */
ul, li { 
  list-style: none; padding: 0; 
}

ul { padding-left: 1em; }

li { 
  padding-left: 1em;
  border-left: 1px solid black;
  border-width: 0 0 1px 1px; 
}

li.container { border-bottom: 0px; }

li.empty { font-style: italic;
  color: silver;
  border-color: silver;
}

.input-wrapper { 
  margin: 0;
  background: #fff;
  position: relative;
  top: 0.5em; 
  /* height: 32px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

li ul { 
  border-top: 1px solid black; 
  margin-left: -1em;     
  padding-left: 2em; 
}

ul li:last-child ul {
  border-left: 1px solid white;
  margin-left: -17px;
}

.graph-container {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}