.tab-container {
  overflow: hidden;
  background-color: #f1f1f1;
  margin: auto;
  margin-bottom: 8px;
}

.tab-container button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab-container button i{
  padding-right: 8px;
  border-radius: 10px 10px 0 0;
}

.tab-container button:hover {
  background-color: #ddd;
}

.tab-container button.active {
  background-color: #fff;
  color: #4285f4;
}
